@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  height: 41px;
  text-overflow: ellipsis;
}

.task-anim {
  animation: top 500ms ease-in-out forwards;
}

@keyframes top {
  from {
    transform: translateY(-20%);
  }

  to {
    transform: translateY(0);
  }
}
